/* --------------------
  Estilos compartidos 
  -------------------- */

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

html,
body {
	height: 99%;
}
















/*-----------------------------------
  Estilos para la página principal
  -----------------------------------*/

.main {
	color: #515151;
	font-family: "Arial Black", Helvetica, sans-serif;
}

.logo {
	width: 80%;
	margin: 0 auto;
	max-width: 480px;
}

.logo img {
	max-width: 100%;
	min-width: 100%;
}

#tittle {
	background-color: #fff;
	margin-top: 1em;
}

#tittle h1 {
	color: #FED872;
	padding: 0.2em;
	text-shadow: 1px 1px 3px #000;
	filter: dropshadow(color=#000, offx=2, offy=2);
}

#reglas {
	font-family: Arial, Helvetica, sans-serif;
	width: 80%;
	margin: 0 auto;
	margin-top: 1em;
	padding-bottom: 1em;
}

#reglas ul {
	margin-left: 2em;
}

#reglas li {
	font-size: small;
}

#reglas h2:nth-child(3) {
	margin-top: 0.8em;
}

a.boton-jugar {
	border: 1px solid #00A6A6;
	font-size: 2em;
	padding: 20px;
	text-align: center;
	margin: 0 auto;
	display: block;
	background: #00D2D2;
	width: 80%;
	color: #EBEBEB;
	text-decoration: none;
	--webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: inset 0px 1px 0px 0px #fff;
	box-shadow: inset 0px 1px 0px 0px #fff;
}

















/*---------------------------
  Estilos para el juego
 ----------------------------*/

h1 { 
	text-align: center;
	vertical-align: center;
}

.gamezone {
	display: block;
	width:100%;
	height: 50%;
}

#reverse{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	writing-mode: lr-tb;
}

#normal{
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

#player1{
	background-color: rgba(0,210,210,1);
	border-bottom: 4px solid;
}

#player2{
	position: relative;
	background-color: rgba(255,193,40,1);
}

#button {
	border: 1px solid #43453A;
	text-align: center;
	padding: 20px 0;
	z-index: 3;
	position: absolute;
	background: #000;
	color: #fff;
	font-size: 3em;
	width: 280px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -140px;
	--webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0px 1px 0px 0px #7A7A7A;
	box-shadow: inset 0px 1px 0px 0px #7A7A7A;
	text-shadow: 0px 0px 20px #fff;
	filter: dropshadow(color=#fff, offx=0, offy=0);
}